*{
    box-sizing: border-box;
}
.container{
    margin-right: auto;
    margin-left: auto;
    width: 1024px;
}
nav{
    width: 490px;
    height: 100px;
    background-color: black;
}
#side-1{
    width: 250px;
    height: 300px;
    background-color: black;
    float: left;
    margin-top: 20px;
}
#main{
    width: 100px;
    height: 300px;
    background-color: black;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}
#side-2{
    width: 100px;
    height: 300px;
    background-color: black;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
footer{
    width: 490px;
    height: 100px;
    background-color: black;
    margin-top: 340px;
}
