*{
    box-sizing: border-box;
}
.container{
    margin-right: auto;
    margin-left: auto;
    width: 1024px;
}
.main-content{
    background-color: black;
    width: 250px;
    height: 450px;
    float: left;  
}
.content{
    background-color: black;
    height: 450px;
    width: 100px;
    margin-left: 20px;
    float:left;
}
