.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    box-sizing: border-box;
}
header{
    width: 400px; 
    height: 100px;  
    background-color: black;
}
nav{
    
    background-color: black;
    height: 100px;
    width: 260px;
    float: left;
    margin-top: 20px;

}
#side{
    width: 120px;
    height: 400px;
    background-color: black;
    margin-left: 280px;
    margin-top: 20px;
    
}

#col1{
    width: 120px;
    height: 280px;
    background-color: black;
    margin-top: -280px;
    float: left;
    
}
#col2{
    width: 120px;
    height: 280px;
    background-color: black;
    margin-left: 140px;
    margin-top: -280px;
    float: left;

}

