*{
    box-sizing: border-box;
}
.container{
    margin-right: auto;
    margin-left: auto;
    width: 1024px;
}
#side-1{
    width: 50px;
    height: 400px;
    background-color: black;
    float: left;
    margin-top: 20px;
}
#main{
    width: 200px;
    height: 400px;
    background-color: black;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}
#side-2{
    width: 50px;
    height: 400px;
    background-color: black;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
