*{
    box-sizing: border-box;
}
.container{
    margin-right: auto;
    margin-left: auto;
    width: 1024px;
}
header{
    width: 650px;
    height: 100px;
    background-color: black;
}
#nav-left{
    width: 305px;
    height: 100px;
    background-color: black;
    float: left; 
    margin-top: 20px;
}
#nav-right{
    width: 305px;
    height: 100px;
    background-color: black; 
    margin-left: 40px;
    margin-top: 20px;
    float: left;
}
#main-content{
    width: 650px;
    height: 100px;
    background-color: black;
    margin-top: 140px;
}
#content-1{
    width: 305px;
    height: 100px;
    background-color: black;
    float: left; 
    margin-top: 20px;
}
#content-2{
    width: 305px;
    height: 100px;
    background-color: black; 
    margin-left: 40px;
    margin-top: 20px;
    float: left;
}
footer{
    width: 650px;
    height: 100px;
    background-color: black;
    margin-top: 120px;
}
